.resume {
  background-color: white;

  .container {
    width: 800px;
    margin: 0 auto;
    padding: 10px 40px;
    color: #999999;

    .item{
      >div{
        margin: 10px 0;
        &:nth-child(1){
          color: black;
          >span{
            margin-left: 30px;
          }
        }
      }
    }


    .line{
      height: 32px;
      line-height: 32px;


      span{
        color: black;
        margin-left: 10px;
      }
    }

    .title{
      color: black;
      font-weight: bold;
      margin: 20px 0 10px 0;
    }

  }
}